<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}" />
        <meta name="description" content="{{ site.description }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="msapplication-TileColor" content="#1d1c6c">
        <meta name="theme-color" content="#ffffff">

        <link rel="author" href="{{ site.theme.link }}/robots.txt" />
        <link rel="author" href="{{ site.theme.link }}/humans.txt" />
        <link rel="pingback" href="{{ site.pingback_url }}" />
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" crossorigin="use-credentials" href="{{ site.theme.link }}/assets/images/favicons/site.webmanifest">
        <link rel="mask-icon" crossorigin="use-credentials" href="{{ site.theme.link }}/assets/images/favicons/safari-pinned-tab.svg" color="#1d1c6c">

        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />

        {{ function('wp_head') }}

    </head>
    <body class="{{ body_class }}">
        {% include 'partials/nav_header.twig' %}
        <header {{ bigbanner ? '' : 'class="page"' }}>
            {% include 'partials/banner.twig' %}
        </header>
        {% block body '' %}
        {% include 'partials/last_partners.twig' %}
        <footer class="footer">
            <div class="container">
                {% include 'partials/footer_widgets.twig' %}
            </div>
            {% if footer_left_widget %}
                <div class="mobile-footer container">
                    {{ footer_left_widget }}
                </div>
            {% endif %}
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>
